details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    list-style: none;
    margin-left: 30px;
    color: #ff5555;
}

summary {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details > summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
    color: #fff;
}

[contenteditable='true'] {
    min-height: 40px;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#premise {
    font-size: x-large;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="file"],
.label-for-file,
input[type="reset"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #ff5555;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="file"]:hover,
.label-for-file:hover,
input[type="reset"]:hover {
    background-color: #444;
}

input[type="file"],
.input-for-file {
    display: none; /* Hide the default file input button */
}

.label-for-file {
    font-size: small;
    display: inline-block;
}

/* Apply the custom styles when the label is clicked */
.label-for-file + .input-for-file {
    visibility: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/* Style sections with red outlines */
section {
    /* border: 1px solid red;
    border-radius: 6px;
    padding: 10px; */
    /* margin: 10px; */
}

/* Style textboxes and input text boxes with red outlines and dark theme backgrounds */

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"] {
    border: none;
    background-color: #333;
    color: white;
    /* padding: 4px; */
    font-weight: bold;
    font-size: large;
    margin: 2px 0;
    /* box-sizing: content-box; */
    width: 100%
}

textarea{
    font-size: small;
    height: 70px;
    font-weight: normal;
}

/* .buttons{ */
    /* overflow: hidden; */
    /* display: inline-flex; */
/* } */

/* .buttons-left{ */
    /* float: left; */
/* } */

/* .buttons-center{ */
    /* align-self: center; */
    /* margin: 0 20px; */

    /* text-align: center; */
    /* float: left; */
/* } */

/* .buttons-right{ */
    /* text-align: right; */
    /* margin-left: 100%; */
    /* text-align: right; */
    /* float: right; */
/* } */


.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons-group {
    flex: auto;
    display: flex;
    justify-content: center;
}

  /* Optional: Adjust styles for individual buttons as needed */
  /* button { */
    /* margin: 5px; */
  /* } */
